/*starter CSS*/
       .face {
        background-color: rgb(236,238,29);
        border-radius: 300px;
        border: 2px solid rgb(0,0,0);
        height: 300px;
        position: relative;
        width: 300px;
      }
      .eye_left {
        background-color: rgb(0,0,0);
        border-radius: 30px;
        height: 57px;
        position: absolute;
        top: 95px;
        width: 50px;
        left:85px;
        height:73px;
      }

      .mouth {
        border-radius: 0 0 170px 170px;
        border: 2px solid rgb(0,0,0);
        position:absolute;
        top:203px;
        width:147px;
        left:72px;
height:67px;
border-top: 50px;
border-bottom: -8px;


      }
      .eye_right {
        background-color: rgb(0,0,0);
        border-radius: 30px;
        height: 57px;
        position: absolute;
        top: 96px;
        width: 50px;
        left:179px;
        height:73px;
      }
      .face2 {
       background-color: rgb(236,238,29);
       border-radius: 300px;
       border: 2px solid rgb(0,0,0);
       height: 300px;
       position: relative;
       width: 300px;
         box-shadow: 5px 5px ;
         overflow: hidden;
      }
      .eye_left2 {
       background-color: rgb(0,0,0);
       border-radius: 30px;
       height: 70px;
       position: absolute;
       top: 95px;
       width: 50px;
       left:85px;
       height:59px;

      }

      .mouth2 {
       border-radius:54px;
       border: 50px solid rgb(0,0,0);
       position:absolute;
       top:178px;
       width:0px;
       left:102px;



      }
      .eye_right2 {
       background-color: rgb(0,0,0);
       border-radius: 30px;
       height: 59px;
       position: absolute;
       top: 96px;
       width: 50px;
       left:179px;
       height:59px;
      }
.headband{
  padding: 33px;
  margin: 10px;
  border: 2px solid black;
  width: 70%;
  height: 0%;
  background-color: red;
text-align: center;
}
h2{
  padding:50px;
  margin: -45px;
}
